@model IEnumerable<CartoonMVC.Models.Monster>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista över alla monster</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*            <th>
                @Html.DisplayNameFor(model => model.Age)
                </th>*@
        @*            <th>
                @Html.DisplayNameFor(model => model.IQ)
                </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SeenLastTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Element)
        </th>
        @*            <th>
                @Html.DisplayNameFor(model => model.Warning)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Weaknesses)
                </th>*@
        @*            <th>
                @Html.DisplayNameFor(model => model.Strength)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Speed)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Naughtiness)
                </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DegreeOfDanger)
        </th>
        @*            <th>
                @Html.DisplayNameFor(model => model.Information)
                </th>*@

        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImageUrl)*@

                    <img class="monsterImgTumbNail" src="@Html.DisplayFor(modelItem => item.ImageUrl)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*            <td>
                    @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.IQ)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SeenLastTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Element)
                </td>
                @*            <td>
                    @Html.DisplayFor(modelItem => item.Warning)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Weaknesses)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Strength)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Speed)
                    </td>*@
                @*            <td>
                    @Html.DisplayFor(modelItem => item.Naughtiness)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DegreeOfDanger)
                </td>

                @*            <td>
                    @Html.DisplayFor(modelItem => item.Information)
                    </td>*@
              

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
